@import "../../global.scss";

.skillsList {
  font-size: 20px;
  margin-right: 80px;
  padding: 9px;
  border-radius: 15px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
